.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	align-items: center;
	gap: 0.25em;
}

.ListItem input {
	appearance: none;
	margin: 0;

	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);

	display: grid;
	place-content: center;
	opacity: 0.5;
}

.ListItem input:checked {
	transform: scale(0.8);
	opacity: 1;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.ListItem-label {
	margin-left: 0.2em;
}
